@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin 'daisyui'{
  themes: light --default, dark --prefersdark;
}
@plugin "daisyui/theme" {
	name: "light";
  default: true;
  --color-accent: oklch(65% 0.1 195);
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(90% 0 0);
  --color-base-300: oklch(80% 0 0);
  --color-primary: oklch(59% 0.25 341);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(69% 0.27 339);
}

@plugin "daisyui/theme" {
	name: "dark";
  prefersdark: true;
  --color-accent: oklch(65% 0.1 195);
	--color-base-100: oklch(70% 0 0);
  --color-base-200: oklch(80% 0 0);
  --color-base-300: oklch(90% 0 0);
  --color-primary: oklch(59% 0.25 341);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(69% 0.27 339);
}

/* @theme {
	--color-black: #000000;
	--color-blue-bright: #2235e2;
	--color-grey: #808080;
	--color-green: #29e2a3;
	--color-orange: #ec5d2a;
	--color-pink: #d600a8;
	--color-pink-light: #ff2ed2;
	--color-purple: #7900d6;
	--color-purple-dark: #4d1b9b;
	--color-teal: #00a7a8;
	--color-white: #ffffff;
	--color-yellow: #ffcb00;
	--font-family-sans: Metropolis, Arial;
} */

body {
	max-height: 100vh
}

/* === Temporary Dev Styles === */

.dev-button {
	outline: 2px solid var(--color-pink);
	padding: 0.5rem 1rem;
}
.dev-div {
	margin: 1rem;
	outline: 2px solid var(--color-teal);
	padding: 1rem;
}

.dev-div {
	outline: 2px solid var(--color-teal);
}
.dev-tile {
	outline: 2px solid var(--color-blue-bright);
}
.dev-list {
	outline: 2px solid var(--color-purple);
}
.dev-button {
	outline: 2px solid var(--color-pink);
}
.dev-text {
	margin: 0;
	padding: 0 1rem;
}

.dev-inactive {
	outline-color: var(--color-black);
	font-style: italic;
}
.dev-table {
  display: table;
  width: calc(100% - 2rem);
  margin: 0 1rem;
  border-collapse: collapse;
	table-layout: fixed;
}
.dev-table th, .dev-table td {
  margin: 0;
  outline: 1px solid var(--color-orange);
  padding: 0.5rem 1rem;
  white-space: nowrap;
}
.dev-table th:nth-child(1),
.dev-table td:nth-child(1),
.dev-table th:nth-child(2),
.dev-table td:nth-child(2),
.dev-table th:nth-child(3),
.dev-table td:nth-child(3) {
  width: 15%;
}
.dev-table th:nth-child(4),
.dev-table td:nth-child(4) {
  width: 55%;
}
.dev-text {
	margin: 0;
	padding: 0 1rem;
}
.dev-tile {
	margin: 0.5rem;
	outline-width: 2px;
	outline-color: var(--color-blue-bright);
	padding: 0.5rem;
}
